apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: staging
  labels:
    app: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: ghcr.io/mlflow/mlflow:v2.10.0
          command:
            - sh
            - -c
            - |
              pip install boto3 --quiet &&
              mlflow server \
                --host=0.0.0.0 \
                --port=5000 \
                --backend-store-uri=sqlite:///data/mlflow.db \
                --default-artifact-root=mlflow-artifacts:/ \
                --serve-artifacts \
                --artifacts-destination=s3://mlops-model-platform-mlflow/artifacts
          ports:
            - containerPort: 5000
          env:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: aws-access-key-id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: aws-secret-access-key
            - name: AWS_DEFAULT_REGION
              value: "us-east-1"
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            requests:
              memory: "512Mi"
              cpu: "100m"
            limits:
              memory: "1Gi"
              cpu: "500m"
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: mlflow-data
