apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mlflow-data
  namespace: staging
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 2Gi
