name: Cleanup Images

on:
  workflow_run:
    workflows: ["Build"]
    types: [completed]
    branches: [main]

jobs:
  cleanup-ghcr:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      packages: write

    steps:
      - name: Delete old image versions
        continue-on-error: true
        uses: actions/delete-package-versions@v5
        with:
          package-name: mlops-model-platform
          package-type: container
          min-versions-to-keep: 30
          delete-only-untagged-versions: true
